{% extends 'new/course.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('style.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    
	
	<ul>
		<li><a href="{{ path('new') }}">Link</a></li>
		<li><a href="{{ path('new_nota', {'nota': 10}) }}">Link 2</a></li>
		<li><a href="{{ url('new') }}">Link 3</a></li>
	<ul>
    
    <img src="{{ asset('logo.svg') }}" alt="Symfony!" />

{% endblock %}
